# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# VS Code settings
.vscode/

# Django or Flask specific (if using)
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env
